body {
  margin: 0;
  overflow: hidden; /* Hide scrollbars */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#short-video {
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  height: auto;
  position: relative;
}

/* Center controls */
#short-video::-webkit-media-controls-panel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

#short-video::-webkit-media-controls-timeline {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

#short-video::-webkit-media-controls-play-button {
  margin-right: 1px; /* 1px separation */
}
#short-video::-webkit-media-controls-mute-button{
  margin-left: 1px; /* 1px separation */
}
